@if(User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline navbar-brand" asp-page="/Account/Logout">
        Welcome @User?.Identity.Name (@User?.Claims.FirstOrDefault(x => x.Type == "Position"))
        <button type="submit" class="ml-2 btn navbar-brand">Logout</button>
    </form>
}
else
{
    <a class="navbar-brand" asp-page="/Account/Login">Login</a>
}